@*Урок 13 (6)*@
@page "/studio"

<div class="row">
    <div class="col">
        <h1 class="text-info">Developer Studios</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <NavLink class="btn btn-info" href="studio/create">Create New Studio</NavLink>
    </div>
</div>

@code {

}
